<div class="container mt-5">
  <div class="card" style="padding: 20px;">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text" ngModel name="username" id="username" placeholder="Enter username" class="form-control mb-3">
      <input type="password" ngModel name="password" id="password" placeholder="Enter password" class="form-control mb-3">
      <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">
  </form>
  </div>
</div>



<!-- 
<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <div style="display: flex; justify-content: center">
    <mat-card class="form-container">
      <mat-card-title>Login</mat-card-title>

      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Ex. profanis"
            formControlName="username"
          />
        </mat-form-field>
      </div>
     
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
          />
        </mat-form-field>
      </div>  
      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </mat-card>
  </div>
</form> -->