<div class="container mt-5">
    <div class="card" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input type="text" ngModel name="username" id="username" placeholder="Enter username" class="form-control mb-3" [class.is-invalid]="loginForm.submitted && form.get('username')?.invalid">
        <div class="invalid-feedback">Username is required</div>
        <input type="password" ngModel name="password" id="password" placeholder="Enter password" class="form-control mb-3" [class.is-invalid]="loginForm.submitted && form.get('password')?.invalid">
        <div class="invalid-feedback">Password is required</div>
        <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">
    </form>
    </div>
</div>


