
  <mat-toolbar class="mat-elevation-z8">
    HR Management
  <nav style="width:100%;" class="navbar navbar-expand-sm  navbar-dark">
  
      
  <ul class = "navbar-nav" *ngIf="isUserLoggedIn" >

  <li class = "nav-item">
    <a routerLink="admin"  *ngIf="loginService.roleMatch(['Admin', 'HR-Manager', 'HR-Specialist'])" routerLinkActive="active" class="nav-link" >HR Panel</a>
  </li>&nbsp;&nbsp;
  

  <li class = "nav-item">
    <a class="nav-link" (click)="navToProfile(user.userId)"> Profile</a>
  </li>


  <li class="nav-item dropdown" > 
    <a class="nav-link dropdown-toggle"  href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Users</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown10">
      <li><a routerLink="users" routerLinkActive="active" class="dropdown-item" >User List</a></li>
      <li><a routerLink="add-user" routerLinkActive="active" class="dropdown-item" *ngIf="loginService.roleMatch(['Admin'])" >Add User</a></li>
    </ul>
  </li>
  
  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle"   href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown10">
      <li><a routerLink="project-list" routerLinkActive="active" class="dropdown-item" >Project List</a></li>
      <li *ngIf="loginService.roleMatch(['Admin', 'HR-Manager', 'HR-Specialist'])"><a routerLink="add-project" routerLinkActive="active" class="dropdown-item" >Add Project</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"   href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Roles</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown10">
      <li><a routerLink="role-list" routerLinkActive="active" class="dropdown-item" >Role List</a></li>
      <li><a routerLink="add-role" routerLinkActive="active" class="dropdown-item" *ngIf="loginService.roleMatch(['Admin'])">Add Role</a></li>
    </ul>
  </li> 
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Skills</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown10">
      <li><a routerLink="skill-list" routerLinkActive="active" class="dropdown-item" >Skill List</a></li>
      <li><a routerLink="add-skill" routerLinkActive="active" class="dropdown-item" *ngIf="loginService.roleMatch(['Admin', 'HR-Manager', 'HR-Specialist'])" >Add Skill</a></li>
    </ul>
  </li> 
  </ul>
  <!-- <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button> -->
  

  <div style="display: flex; justify-content: flex-end">
    <button *ngIf="isUserLoggedIn" type="button" class="btn btn-danger" (click)="logout()">Logout</button>&nbsp;&nbsp;
  <!-- <button *ngIf="isUserLoggedIn" type="button" class="btn btn-success" (click)="navToProfile(user.userId)">Profile</button>  -->
  </div>

 
  

</nav>
</mat-toolbar>







