<h2> Project Task</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> projectid</th>
            <th> taskid</th>
            <th> Task Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td> {{ project.projectName }}</td>
            <td> {{ task.taskId }}</td>
            <td> {{ task.taskName }}</td>
            <td>
                <button (click)="openAddUserDialog(project.projectId, task.taskId)" class="btn btn-info">Assign User</button>
            </td>
        </tr>
    </tbody>
</table>