<h2> User Task</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> userid</th>
            <th> taskid</th>
            <th> Task Name</th>
        </tr>
    </thead>
    <tbody>
            <td> {{ task.userId }}</td>
            <td> {{ task.taskId }}</td>
            <td> {{ task.taskName }}</td>
            <td>
                <!-- <button (click)="updateEducation(education.educationId)" class="btn btn-info">Update</button> -->
            </td>
    </tbody>
</table>