<div class="col-md-8 offset-md-3">
    <h3>Update User</h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="username" 
                [(ngModel)] = "user.username" name="username">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" 
                [(ngModel)] = "user.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" 
                [(ngModel)] = "user.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" 
                [(ngModel)] = "user.email" name="email">
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input matInput [matDatepicker]="picker" id="dateOfBirth"
             [(ngModel)] = "user.dateOfBirth" name="dateOfBirth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="form-group">
            <label>Mobile Phone</label>
            <input type="text" class="form-control" id="mobile" 
                [(ngModel)] = "user.mobile" name="mobile">
        </div>
        <div class="form-group">
            <label> Starting Day</label>
            <input matInput [matDatepicker]="picker1" id="startingDay"
             [(ngModel)] = "user.startingDay" name="startingDay">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </div>
        <div class="form-group">
            <label>Termination Day</label>
            <input matInput [matDatepicker]="picker2" id="terminationDay"
             [(ngModel)] = "user.terminationDay" name="terminationDay">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </div>
        <div class="form-group">
            <label>Second Contact</label>
            <input type="text" class="form-control" id="secondContact" 
                [(ngModel)] = "user.secondContact" name="secondContact">
        </div>

        <div class="form-group">
            <label>Leave Days Left</label>
            <input type="text" class="form-control" id="leaveDaysLeft" 
                [(ngModel)] = "user.leaveDaysLeft" name="leaveDaysLeft">
        </div>

        <div class="form-group">
            <fieldset id="group2">
                <input type="radio" name="userStatus" [(ngModel)]="user.usersStatus" [value]="true">
                <label>ACTIVE</label> <br/>
                <input type="radio" name="userStatus" [(ngModel)]="user.usersStatus" [value]="false">
                <label>INACTIVE</label>
            </fieldset>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>