<h2> User List</h2>
<button (click)="addUser()" class="btn btn-info">Add User</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th> userId</th>
            <th> Username</th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Email</th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{ user.userId}}</td>
            <td> {{ user.username}}</td>
        <!--   <td> {{ user.password}}</td>-->
            <td> {{ user.firstName}}</td>
            <td> {{ user.lastName}}</td>
            <td> {{ user.email}}</td>
            <td> {{ user.dob}}</td>
            <td> {{ user.leaveDaysLeft}}</td>
            <td> {{ user.mobile}}</td>
            <td> {{ user.startingDay}}</td>
            <td> {{ user.terminationDay}}</td>
            <td> {{ user.secondContact}}</td>
            <td> {{ user.userStatus}}</td>
            <td>
                <select  [(ngModel)]="projectId" (change)="chosenProject(projectId)">
                    <option *ngFor="let project of projects" [ngValue]=project>
                        {{project.projectId}}
                    </option>
                </select>
                <div>
                    <input type="text" [(ngModel)] = "project.projectId">
                    <!-- {{user.userId}} -->
                    <button (click)="addNewProjectToUser(user)" class="btn btn-info">Save Project</button>
                    <button (click)="addRoleToUser(user)" class="btn btn-info">Save Role</button>
                  </div>
                <button (click)="updateUser(user.userId)" class="btn btn-info">Update</button>
                <!-- <button (click)="deleteUser(user.userId)" class="btn btn-danger" style="margin-left: 10px">Delete</button> -->
                <button (click)="navigateToProfile(user.userId)" class="btn btn-info " style="margin-left: 10px">Profile</button>

                <button (click)="addProjectToUser(user)" class="btn btn-info " style="margin-left: 10px">Assign Project</button>

                <button (click)="deleteUser(user.userId)" 
                
                class="btn btn-info " style="margin-left: 10px">Delete User</button>

            </td>
        </tr>
    </tbody>
</table>