<h2> Task List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Task Name</th>
            <th> userId</th>
            <th> Task Status</th>
            <th> Project Name </th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td> {{ task.taskName}}</td>
            <td> {{ project.user.username}}</td>
            <td> {{ task.taskStatus}}</td>
            <td> {{ project.projectName}}</td>
            
        </tr>
    </tbody>
</table>