<div class="col-md-8 offset-md-3">
    <h3>Place Day Off Request</h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Start Date</label>
            <input type="text" class="form-control" id="startDate" 
                [(ngModel)] = "dayOff.startDate" name="startDate">
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input type="text" class="form-control" id="endDate" 
                [(ngModel)] = "dayOff.endDate" name="endDate">
        </div>
        <div class="form-group">
            <label> Reason</label>
            <input type="text" class="form-control" id="reason" 
                [(ngModel)] = "dayOff.reason" name="reason">
        </div>
        <!-- <div class="form-group">
            <label> Permission Type</label>
            <input type="text" class="form-control" id="permissionType" 
                [(ngModel)]="dayOff.permissionType" name="permissionType">
        </div> -->

        <div class="form-group">
            <label>Report</label>
            <input type="text" class="form-control" id="report" 
                [(ngModel)] = "dayOff.report" name="report">
        </div>

        <fieldset id="group2">
            <input type="radio" value="MARRIAGE" name="MARRIAGE" (change)="changeStatus($event.target)">
            <label>MARRIAGE</label> <br/>
            <input type="radio" value="DEATH" name="DEATH" (change)="changeStatus($event.target)">
            <label>DEATH</label>
            <input type="radio" value="DEFAULT" name="DEFAULT" (change)="changeStatus($event.target)">
            <label>DEFAULT</label>
        </fieldset>
        
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>