<h2> Day Off Request List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> userId</th>
            <th> Start Date</th>
            <th> End Date</th>
            <th> Reason</th>
            <th> Report</th>
            <th> Amount</th>
            <th> Days Left</th>
        </tr>
    </thead>
    <tbody>
        <div *ngFor="let user of users">
        <tr *ngFor="let dayOff of daysOff">
            <td > {{ user.username}}</td>
            <td> {{ dayOff.startDate}}</td>
            <td> {{ dayOff.endDate}}</td>
            <td> {{ dayOff.reason}}</td>
            <td> {{ dayOff.report}}</td>
            <td> {{ dayOff.dayOffAmount}}</td>
            <td> {{ dayOff.leaveDaysLeft}}</td>


            <td>
                <form #statusForm="ngForm" (ngSubmit)="onClickSend(statusForm.value)">
                    <label>Reject Reason</label>
                    <input type="text" name="rejectReason" ngModel>

                    <label>User Id</label>
                    <input type="text" name="userId" [(ngModel)]="user.userId">
                    
                    <label>Day Off</label>
                    <input type="text" name="dayOffId" [(ngModel)]="dayOff.dayOffId">

                    <label>Status</label>
                    <input type="text" name="status"  ngModel>

                    <input type="submit" value="Send Request">
                    
                </form>
                <button (click)="approveRequest()" class="btn btn-info">Approve</button>
                <!-- <button (click)="rejectRequest(user.userId)" class="btn btn-info">Reject</button> -->


        </td>
        </tr>
    
        </div>
    </tbody>
</table>