<!-- <div class="container">
    <div class="main-body">
    
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="test">
                    <div class="prova">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                        <td> {{ user.username}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                 
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.firstName}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                 
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.lastName}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
              
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.email}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date Of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <tbody>
                        <td> {{ user.dob}}</td>
                    </tbody>
                    </div>
                    <hr>
                  </div>
                    </div>
                    <div class="prova2">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                        <td> {{ user.mobile}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
             
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Starting Day</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.startingDay}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
               
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Contact</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.secondContact}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
               
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Second Contact</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.email}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
              
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">User Status</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <tbody>
                      <td>{{user.userStatus ? 'Yes' : 'No'}}</td>
                    </tbody>
                  </div>
                    </div>

                    

                    <div class="change-password-button">
                      <div class="row">
                        <div class="col-sm-12">
                          <button (click)="changePassword(user.userId)" class="btn btn-info">Change Password</button>
                        </div>
                      </div>
                    </div>
             
                    <div class="row gutters-sm">
                      <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="address-button" *ngIf="!isButtonVisible">
                              <div class="row">
                                <div class="col-sm-12">
                                  <button (click)="addAddress(user.userId)" class="btn btn-info">Add Address</button>
                                </div>
                              </div>
                            </div>
                            
                              <h6 class="d-flex align-items-center mb-3" >State</h6>
                              <td *ngIf="isButtonVisible"> {{address.addressID}}</td>
                              <td> {{address.state}}</td>
                              <h6 class="d-flex align-items-center mb-3"  >City</h6>
                              <td> {{address.city}}</td>
                              <h6 class="d-flex align-items-center mb-3"  >Postal Code</h6>
                              <td> {{address.postalCode}}</td>
                    <div class="row">
                      <div class="col-sm-12">
                       <button (click)="updateUser(user.userId)" class="btn btn-info">Edit Profile</button>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="experience-button">
                        <div class="row">
                          <div class="col-sm-12">
                            <button (click)="addExperience(user.userId)" class="btn btn-info">Add Experience</button>
                          </div>
                        </div>
                      </div>
                      <tr *ngFor="let experience of experiences">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Experience</h6>
                      <td> {{ experience.userId}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>EXP</h6>
                      <td> {{ experience.expId}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ experience.company}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ experience.company}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ experience.company}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="experience-button">
                        <div class="row">
                          <div class="col-sm-12">
                           <button (click)="updateExperienceByExpId(experience.expId)" class="btn btn-info">Edit Experience</button>
                         </div>
                       </div>
                     </div>
                    <div class="experience-button">
                      <div class="row">
                        <div class="col-sm-12">
                          <button (click)=" deleteExperience(experience.expId)"(click)="reloadCurrentPage()" class="btn btn-info">Delete Experience</button>
                        </div>
                      </div>
                    </div>
                      <div class="experience-button" >
                       <div class="row">
                          <div class="col-sm-12">
                           <button (click)="addExperience(user.userId)"  class="btn btn-info">Add Experience</button>
                          </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="experience-button">
                        <div class="row">
                          <div class="col-sm-12">
                            <button (click)="addCertification(user.userId)" class="btn btn-info">Add Certification</button>
                          </div>
                        </div>
                        </div>
                        
                <tr *ngFor="let certification of certifications">
                  <h6 class="d-flex align-items-center mb-3">Certification</h6>
                  <td> {{ certification.userId}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>EXP</h6>
                  <td> {{ certification.certificationID}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <td> {{ certification.certificationName}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <td> {{ certification.certificationYear}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <td> {{ certification.expirationDate}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <td> {{ certification.releasingAuthority}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <td> {{ certification.linkOfCertification}}</td>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="experience-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="updateCertificationByCertificationId(certification.certificationID)" class="btn btn-info">Edit Certification</button>
                    </div>
                  </div>
                </div>
                <div class="experience-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)=" deleteCertification(certification.certificationID)"(click)="reloadCurrentPage()" class="btn btn-info">Delete Certification</button>
                    </div>
                  </div>
                </div>
              </div>

             

            <div class="project-button">
              <div class="row">
                <div class="col-sm-12">
                  <button (click)="addProjectToUser(user.userId)" class="btn btn-info">Add Project</button>
                </div>
              </div>
              </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <tr *ngFor="let project of projects">
                      <td> {{ project.projectId}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ project.projectName}}</td>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="experience-button">
                        <div class="row">
                          <div class="col-sm-12">
                            <button (click)="placeDayOff(user.userId)" class="btn btn-info">Place Day Off</button>
                          </div>
                        </div>
                        </div>
            </div>
          </div>

     -->




     <div class="container">
      <div class="main-body">  
            <div class="row">
              <div class="col-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://www.kindpng.com/picc/m/269-2697881_computer-icons-user-clip-art-transparent-png-icon.png" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <h4>{{ user.username }}</h4>
                        <hr>
                        <h5>{{ user.userId }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="details" class="col-12">
                  <div class="card mb-3 container">
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <tbody>
                            <td> {{ user.username}}</td>
                            </tbody>
                        </div>
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <tbody>
                                <td> {{ user.firstName}}</td>
                            </tbody>
                        </div>
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <tbody>
                                <td> {{ user.lastName}}</td>
                            </tbody>
                        </div>
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <tbody>
                                <td> {{ user.email}}</td>
                            </tbody>
                        </div>
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Date Of Birth</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                          <tbody>
                            <td> {{ user.dateOfBirth}}</td>
                        </tbody>
                        </div>
                        <hr>
                      </div>
                    
                      <div class="row">
                        <div class="col-sm-6">
                          <h6 class="mb-0">Mobile Phone</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <tbody>
                            <td> {{ user.mobile}}</td>
                            </tbody>
                        </div>
                        <hr>
                      </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Starting Day</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.startingDay}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Contact</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.secondContact}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">second</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.email}}</td>
                          </tbody>
                      </div>
                      <hr>
                      <div class="col-sm-12">
                        <button (click)="changePassword(user.userId)" class="btn btn-info">Change Password</button>
                      </div>
                      <div class="col-sm-12">
                        <button (click)="updateUser(user.userId)" class="btn btn-info">Edit Profile</button>
                      </div>
                    </div>
                    </div>
                    </div>
              </div>
  
              
                <div class="col-8 right-content">
                  <input type="radio" name="tabs" id="tab1" checked />
                  <label for="tab1">Address</label>
                  
                  <input type="radio" name="tabs" id="tab2" />
                  <label for="tab2">Personal Files</label>
                  
                  <input type="radio" name="tabs" id="tab3" />
                  <label for="tab3">Certifications</label>
                  
                  <input type="radio" name="tabs" id="tab4" />
                  <label for="tab4">Education</label>
                  
                  <input type="radio" name="tabs" id="tab5" />
                  <label for="tab5">Experiences</label>
  
                  <input type="radio" name="tabs" id="tab6" />
                  <label for="tab6">Tasks</label>
  
                  <input type="radio" name="tabs" id="tab7" />
                  <label for="tab7">Day Off</label>
                  
                  <div class="tab content1">
                    <button (click)="addAddress(user.userId)" class="btn btn-info">Add Address</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> State</th>
                                <th> City</th>
                                <th> Street</th>
                                <th> Postal Code</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let address of addresses">
                                <td> {{ address.state}}</td>
                                <td> {{ address.city}}</td>
                                <td> {{ address.street}}</td>
                                <td> {{ address.postalCode}}</td>
                           
                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)="updateAddress(address.addressID)" class="btn btn-info">Update Address</button>
                      <button (click)=" deleteAddress(address.addressID)" class="btn btn-info">Delete Address</button>         
                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
                  <div class="tab content2">
                    <button (click)="addPersonalFile(user.userId)" class="btn btn-info">Add Personal File</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>

                                <th> idCard</th>
                                <th> degree</th>
                                <th> workingSkills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let personalFile of personalFiles">
                                <td> {{ personalFile.idCard}}</td>
                                <td> {{ personalFile.degree}}</td>
                                <td> {{ personalFile.workingSkills}}</td>
                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)="updatePersonalFileById(personalFile.personalFileId)" class="btn btn-info">Edit Personal File</button>
                      <button (click)=" deletePersonalFile(personalFile.personalFileId)" class="btn btn-info">Delete PersonalFile</button>         
                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
                  <div class="tab content3">
                    <button (click)="addCertification(user.userId)" class="btn btn-info">Add Certification</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Certification Name</th>
                                <th> Year</th>
                                <th> Releasing Authority</th>
                                <th> Expiration Date</th>
                                <th> Link of Certificate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let certification of certifications">
                                <td> {{ certification.certificationName}}</td>
                                <td> {{ certification.certificationYear}}</td>
                                <td> {{ certification.releasingAuthority}}</td>
                                <td> {{ certification.expirationDate}}</td>
                                <td> {{ certification.linkOfCertification}}</td>


                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)="updateCertificationByCertificationId(certification.certificationID)" class="btn btn-info">Edit Certification</button>
                      <button (click)=" deleteCertification(certification.certificationID)" class="btn btn-info">Delete Certification</button>
                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
                  <div class="tab content4">
                    <button (click)="addEducation(user.userId)" class="btn btn-info">Add Education</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Degree</th>
                                <th> University Name</th>
                                <th> Faculty Name</th>
                                <th> Start Time</th>
                                <th> End Time</th>
                                <th> Average</th>

                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let education of educations">
                                <td> {{ education.degree}}</td>
                                <td> {{ education.universityName}}</td>
                                <td> {{ education.facultyName}}</td>
                                <td> {{ education.startTime}}</td>
                                <td> {{ education.endTime}}</td>
                                <td> {{ education.average}}</td>

                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)="updateEducationById(education.educationId)" class="btn btn-info">EditEducation</button>
                      <button (click)=" deleteEducation(education.educationId)" class="btn btn-info">Delete Education</button>
                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
                  <div class="tab content5">
                    
                    <button (click)="addExperience(user.userId)" class="btn btn-info">Add Experience</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Company</th>
                                <th> Position</th>
                                <th> Start Time</th>
                                <th> End Time</th>
                                <th> Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let experience of experiences">
                              <td> {{ experience.company}}</td>
                                <td> {{ experience.position}}</td>
                                <td> {{ experience.startTime}}</td>
                                <td> {{ experience.endTime}}</td>
                                <td> {{ experience.description}}</td>

                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)="updateExperienceByExpId(experience.expId)" class="btn btn-info">Edit Experience</button>
                      <button (click)=" deleteExperience(experience.expId)" class="btn btn-info">Delete Experience</button>
                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  </div>
                  <div class="tab content6">
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th> project Name</th> -->
                                 <th> Task Name</th>
                                <th> Task Status</th>
                                <th> Task Description</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks">
                                <!-- <td> {{ task.projectName }}</td> -->
                                <td> {{ task.taskName }}</td>
                                <td> {{ task.taskStatus }}</td>
                                <td> {{ task.description }}</td>

                                <td>
                                  <button (click)="finishedTask(task.taskId)" class="btn btn-info">Finish Task</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  </div>
                  <div class="tab content7">
                    <button (click)="placeDayOff(user.userId)" class="btn btn-info">Place Day Off</button>
                    <div class="row gutters-sm">
                      <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th> userId</th>
                                <th> Id of Approver</th> -->
                                <th> Request Status</th>
                                <th> Permission Type</th>
                                <th> Day Off Amount </th>
                                <th> Leave Days Left </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dayOff of daysOff">
                                <!-- <td> {{ dayOff.userId}}</td>
                                <td> {{ dayOff.idOffApprove}}</td> -->
                                <td> {{ dayOff.requestStatus}}</td>
                                <td> {{ dayOff.dayOffPermission}}</td>
                                <td> {{ dayOff.dayOffAmount}}</td>
                                <td> {{ dayOff.users.leaveDaysLeft}}</td>


                                <td>
                                    <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                      <button (click)=" deleteDayOff(dayOff.dayOffId)" class="btn btn-info">Delete DayOff</button>

                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  </div>
  
  
        </div>
      </div>     
            </div>
          </div>