<div class="container">
    <div class="main-body">  
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.username}}</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="details" class="col-md-8 mt-1">
              <div class="card mb-3 container">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                        <td> {{ user.username}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.firstName}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.lastName}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                            <td> {{ user.email}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date Of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <tbody>
                        <td> {{ user.dob}}</td>
                    </tbody>
                    </div>
                    <hr>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <tbody>
                        <td> {{ user.mobile}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Starting Day</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.startingDay}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Contact</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.secondContact}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">second</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <tbody>
                          <td> {{ user.email}}</td>
                      </tbody>
                  </div>
                  <hr>
                </div>
                </div>
                </div>
                <div class="row">
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="address-button" *ngIf="!isButtonVisible">
                        <div class="row">
                          <div class="col-sm-12">
                            <button (click)="addAddress(user.userId)" class="btn btn-info">Add Address</button>
                          </div>
                        </div>
                      </div>
                      <tr *ngFor="let address of addresses">
                        <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">State</h6>
                        <td *ngIf="isButtonVisible"> {{address.state}}</td>
                        <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">City</h6>
                        <td *ngIf="isButtonVisible"> {{address.city}}</td>
                        <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">Postal Code</h6>
                        <td *ngIf="isButtonVisible"> {{address.postalCode}}</td>
                      </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="personalFile-button">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="d-flex flex-stack position-relative mt-6">
                                <div class="position-absolute h-100 w-4px bg-secondary rounded top-0 start-0"></div>
                                <div class="fw-bold ms-5">
                                <div class="fs-7 mb-1">14:30 - 15:30 
                                <span class="fs-7 text-muted text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bolder text-dark text-hover-primary mb-2">Creative Content Initiative</a>
                               
                                <div class="fs-7 text-muted">Lead by 
                                <a href="#">Kendell Trevor</a></div>
                                </div>
                                <a href="#" class="btn btn-light bnt-active-light-primary btn-sm">View</a>
                              </div>
                            <button (click)="addPersonalFile(user.userId)" class="btn btn-info">Add Personal File</button>
                          </div>
                        </div>
                      </div>
                      <tr *ngFor="let personalFile of personalFiles">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Personal File</h6>
                      <td> {{ personalFile.userId }}</td>
                      <div style="height: 5px">
                        <div style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>EXP</h6>
                      <td> {{ personalFile.personalFileId }}</td>
                      <div style="height: 5px">
                        <div style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ personalFile.idCard }}</td>
                      <div style="height: 5px">
                        <div style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ personalFile.degree }}</td>
                      <div style="height: 5px">
                        <div style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <td> {{ personalFile.workingSkills }}</td>
                      <div style="height: 5px">
                        <div style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="personalFile-button">
                        <div class="row">
                          <div class="col-sm-12">
                           <button (click)="updatePersonalFileById(personalFile.personalFileId)" class="btn btn-info">Edit Personal File</button>
                         </div>
                       </div>
                     </div>
                    <div class="personalFile-button">
                      <div class="row">
                        <div class="col-sm-12">
                          <button (click)=" deletePersonalFile(personalFile.personalFileId)"(click)="reloadCurrentPage()" class="btn btn-info">Delete PersonalFile</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                
              </div>

     
         <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <div class="experience-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="addExperience(user.userId)" class="btn btn-info">Add Experience</button>
                    </div>
                  </div>
                </div>
                <tr *ngFor="let experience of experiences">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Experience</h6>
                <td> {{ experience.userId}}</td>
                <div style="height: 5px">
                  <div style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>EXP</h6>
                <td> {{ experience.expId}}</td>
                <div style="height: 5px">
                  <div style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <td> {{ experience.company}}</td>
                <div style="height: 5px">
                  <div style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="experience-button">
                  <div class="row">
                    <div class="col-sm-12">
                     <button (click)="updateExperienceByExpId(experience.expId)" class="btn btn-info">Edit Experience</button>
                   </div>
                 </div>
               </div>
              <div class="experience-button">
                <div class="row">
                  <div class="col-sm-12">
                    <button (click)=" deleteExperience(experience.expId)"(click)="reloadCurrentPage()" class="btn btn-info">Delete Experience</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <div class="certification-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="addCertification(user.userId)" class="btn btn-info">Add Certification</button>
                    </div>
                  </div>
                  </div>
                  
          <tr *ngFor="let certification of certifications">
            <h6 class="d-flex align-items-center mb-3">Certification</h6>
            <td> {{ certification.userId}}</td>
            <div style="height: 5px">
              <div style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>EXP</h6>
            <td> {{ certification.certificationID}}</td>
            <div style="height: 5px">
              <div style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <td> {{ certification.certificationName}}</td>
            <div style="height: 5px">
              <div style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="certification-button">
            <div class="row">
              <div class="col-sm-12">
                <button (click)="updateCertificationByCertificationId(certification.certificationID)" class="btn btn-info">Edit Certification</button>
              </div>
            </div>
          </div>
          <div class="certification-button">
            <div class="row">
              <div class="col-sm-12">
                <button (click)=" deleteCertification(certification.certificationID)"(click)="reloadCurrentPage()" class="btn btn-info">Delete Certification</button>
              </div>
            </div>
          </div>

          <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <div class="education-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="addEducation(user.userId)" class="btn btn-info">Add Education</button>
                    </div>
                  </div>
                  </div>
                  
          <tr *ngFor="let education of educations">
            <h6 class="d-flex align-items-center mb-3">Education</h6>
            <td> {{ education.userId }}</td>
            <div style="height: 5px">
              <div style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Education</h6>
            <td> {{ education.educationId }}</td>
            <div style="height: 5px">
              <div style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <td> {{ education.degree }}</td>
            <div style="height: 5px">
              <div style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="education-button">
            <div class="row">
              <div class="col-sm-12">
                <button (click)="updateEducationById(education.educationId)" class="btn btn-info">EditEducation</button>
              </div>
            </div>
          </div>
          <div class="education-button">
            <div class="row">
              <div class="col-sm-12">
                <button (click)=" deleteEducation(education.educationId)"(click)="reloadCurrentPage()" class="btn btn-info">Delete Education</button>
              </div>
            </div>
          </div>
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <div class="experience-button">
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="placeDayOff(user.userId)" class="btn btn-info">Place Day Off</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>