<div class="container">
    <div class="main-body">  
          <div class="row">
            <div class="col-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
                      <hr>
                      <h5>{{ user.userId }}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div id="details" class="col-12">
                <div class="card mb-3 container">
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Username</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                          <td> {{ user.username}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Name</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.firstName}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Last Name</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.lastName}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                              <td> {{ user.email}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Date Of Birth</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                        <tbody>
                          <td> {{ user.dob}}</td>
                      </tbody>
                      </div>
                      <hr>
                    </div>
                  
                    <div class="row">
                      <div class="col-sm-6">
                        <h6 class="mb-0">Mobile Phone</h6>
                      </div>
                      <div class="col-sm-6 text-secondary">
                          <tbody>
                          <td> {{ user.mobile}}</td>
                          </tbody>
                      </div>
                      <hr>
                    </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Starting Day</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <tbody>
                            <td> {{ user.startingDay}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Contact</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <tbody>
                            <td> {{ user.secondContact}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">second</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <tbody>
                            <td> {{ user.email}}</td>
                        </tbody>
                    </div>
                    <hr>
                  </div>
                  </div>
                  </div>
            </div>

              
              <div class="col-8 right-content">
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1">Address</label>
                
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2">Personal Files</label>
                
                <input type="radio" name="tabs" id="tab3" />
                <label for="tab3">Certifications</label>
                
                <input type="radio" name="tabs" id="tab4" />
                <label for="tab4">Education</label>
                
                <input type="radio" name="tabs" id="tab5" />
                <label for="tab5">Experiences</label>

                <input type="radio" name="tabs" id="tab6" />
                <label for="tab6">Tasks</label>

                <input type="radio" name="tabs" id="tab7" />
                <label for="tab7">Day Off</label>
                
                <div class="tab content1">
                  <div class="row">
                    <div class="row gutters-sm">
                      <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="address-button" *ngIf="!isButtonVisible">
                              <div class="row">
                                <div class="col-sm-12">
                                  <button (click)="addAddress(user.userId)" class="btn btn-info">Add Address</button>
                                </div>
                              </div>
                            </div>
                            <tr *ngFor="let address of addresses">
                              <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">State</h6>
                              <td *ngIf="isButtonVisible"> {{address.state}}</td>
                              <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">City</h6>
                              <td *ngIf="isButtonVisible"> {{address.city}}</td>
                              <h6 class="d-flex align-items-center mb-3"  *ngIf="isButtonVisible">Postal Code</h6>
                              <td *ngIf="isButtonVisible"> {{address.postalCode}}</td>
                            </tr>
                  </div>
                </div>
              </div>
            </div>
          </div>
                </div>
                <div class="tab content2">
                  <button (click)="addPersonalFile(user.userId)" class="btn btn-info">Add Personal File</button>
                  <div class="row gutters-sm">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> userId</th>
                              <th> personalFileId</th>
                              <th> idCard</th>
                              <th> degree</th>
                              <th> workingSkills</th>
                              <th> Roles</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let personalFile of personalFiles">
                              <td> {{ personalFile.userId}}</td>
                              <td> {{ personalFile.personalFileId}}</td>
                              <td> {{ personalFile.idCard}}</td>
                              <td> {{ personalFile.degree}}</td>
                              <td> {{ personalFile.workingSkills}}</td>
                              <td>
                                  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                    <button (click)="updatePersonalFileById(personalFile.personalFileId)" class="btn btn-info">Edit Personal File</button>
                    <button (click)=" deletePersonalFile(personalFile.personalFileId)" class="btn btn-info">Delete PersonalFile</button>         
                  </mat-menu>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
                <div class="tab content3">
                  <button (click)="addCertification(user.userId)" class="btn btn-info">Add Certification</button>
                  <div class="row gutters-sm">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> userId</th>
                              <th> certificationId</th>
                              <th> Certification Name</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let certification of certifications">
                              <td> {{ certification.userId}}</td>
                              <td> {{ certification.certificationID}}</td>
                              <td> {{ certification.certificationName}}</td>
                              <td>
                                  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                    <button (click)="updateCertificationByCertificationId(certification.certificationID)" class="btn btn-info">Edit Certification</button>
                    <button (click)=" deleteCertification(certification.certificationID)" class="btn btn-info">Delete Certification</button>
                  </mat-menu>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
                <div class="tab content4">
                  <button (click)="addEducation(user.userId)" class="btn btn-info">Add Education</button>
                  <div class="row gutters-sm">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> userId</th>
                              <th> educationId</th>
                              <th> Degree</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let education of educations">
                              <td> {{ education.userId}}</td>
                              <td> {{ education.educationId}}</td>
                              <td> {{ education.degree}}</td>
                              <td>
                                  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                    <button (click)="updateEducationById(education.educationId)" class="btn btn-info">EditEducation</button>
                    <button (click)=" deleteEducation(education.educationId)" class="btn btn-info">Delete Education</button>
                  </mat-menu>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
           </div>
                <div class="tab content5">
                  
                  <button (click)="addExperience(user.userId)" class="btn btn-info">Add Experience</button>
                  <div class="row gutters-sm">
                    <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> userId</th>
                              <th> experienceId</th>
                              <th> Company</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let experience of experiences">
                              <td> {{ experience.userId}}</td>
                              <td> {{ experience.expId}}</td>
                              <td> {{ experience.company}}</td>
                              <td>
                                  <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                  <mat-menu #menu="matMenu">
                    <button (click)="updateExperienceByExpId(experience.expId)" class="btn btn-info">Edit Experience</button>
                    <button (click)=" deleteExperience(experience.expId)" class="btn btn-info">Delete Experience</button>
                  </mat-menu>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
                </div>
                <div class="tab content6">Tab6 Contents</div>
                <div class="tab content7">
                  <button (click)="placeDayOff(user.userId)" class="btn btn-info">Place Day Off</button>
                </div>


      </div>
    </div>     
          </div>
        </div>