<div class="col-md-8 offset-md-3">
    <h3>Add Education</h3>
    <form (ngSubmit)="onSubmit()">
    
      
        <div class="form-group">
            <label>Degree</label>
            <input type="text" class="form-control" id="degree" 
                [(ngModel)] = "education.degree" name="degree">
        </div>
        <div class="form-group">
            <label>University Name</label>
            <input type="text" class="form-control" id="universityName" 
                [(ngModel)] = "education.universityName" name="universityName">
        </div>
        <div class="form-group">
            <label>Faculty Name</label>
            <input type="text" class="form-control" id="facultyName" 
                [(ngModel)] = "education.facultyName" name="facultyName">
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <input type="text" class="form-control" id="startTime" 
                [(ngModel)] = "education.startTime" name="startTime">
        </div>
        <div class="form-group">
            <label>Average</label>
            <input type="text" class="form-control" id="average" 
                [(ngModel)] = "education.average" name="average">
        </div>
        <div class="form-group">
            <label>Active Status</label>
            <input type="text" class="form-control" id="activeStatus" 
                [(ngModel)] = "education.activeStatus" name="activeStatus">
        </div>
        
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>